$cyan: hsl(167, 36%, 54%); //#5fb4a2
$dark-blue: hsl(205, 41%, 21%); //#203a4c
$grayish-dark-blue: hsl(245, 10%, 22%); //#33323d
$very-light-grey: hsl(0, 0%, 98%); //#fafafa
$light-grey: hsl(240, 2%, 92%); //#eaeaeb
$bright-red: hsl(0, 90%, 57%); //#fa3030



