@use "sass:color";
@use '../Utils';

.contact__content {
    @include Utils.mainContent;
}

.contact__social__container {
    border-top: 1px solid Utils.$medium-grey;
    border-bottom: 1px solid Utils.$medium-grey;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include Utils.mQ(67.5rem) {
        display: flex;
        align-items: baseline;
    }
}

.contact__heading {
    font-size: Utils.calculateRem(40);
    color: Utils.$grayish-dark-blue;

    @include Utils.mQ(67.5rem) {
        flex: 1 1 40%;
    }
}

.contact__social__divider {
    @include Utils.mQ(67.5rem) {
        flex: 1 1 60%;
    }
}

.form__heading {
    @include Utils.headings;

    @include Utils.mQ(67.5rem) {
        flex: 1 1 40%;
    }
}

.form__input__container {
    @include Utils.mQ(67.5rem) {
        flex: 1 1 60%;
    }
}

.social__contact__list {
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.label {
    font-size: Utils.calculateRem(13);
    font-weight: 800;
    color: Utils.$grayish-dark-blue;
    margin-bottom: 1rem;
}

.inputs {
    font-size: Utils.calculateRem(13);
    background-color: lighten(Utils.$medium-grey, 25%);
    padding: 1rem 0.5rem;
    border: 1px solid transparent;
    @include Utils.hoverFocus;
}

.textarea {
    font-size: Utils.calculateRem(13);
    background-color: lighten(Utils.$medium-grey, 25%);
    padding: 1rem 0.5rem;
    border: 1px solid transparent;
    resize: none;
    @include Utils.hoverFocus;
}

.error__alert {
    color: Utils.$bright-red;
    margin-top: .5rem;
}

.btnSend {
    background-color: Utils.$dark-blue;
    color: Utils.$white;
    border: 1px solid transparent;
    padding: .9rem 3.5rem;
    font-size: Utils.calculateRem(12);
    font-family: "Public Sans", sans-serif;
    @include Utils.hoverFocus;
    &:hover,
    &:focus {     
      outline: dashed Utils.$dark-blue;     
    }
}

.form {
    margin-bottom: 3rem;

    @include Utils.mQ(67.5rem) {
        display: flex;
        align-items: baseline;
    }
}

.social__link--btn {
    @include Utils.hoverFocus;
}