/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr__only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.btn {
  background: #20394c;
  display: flex;
  max-width: 12.5rem;
  text-decoration: none;
}
.btn:hover, .btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.arrows__img__holder {
  flex: 1 1 30%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows__img {
  padding: 1rem;
}

span.btn__text {
  flex: 1 1 70%;
  align-self: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

.nav__shared--btn {
  display: inline-block;
  border: 1px solid #33323e;
  color: #33323e;
  max-width: 12.625rem;
  padding: 0.7rem 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: center;
}
.nav__shared--btn:hover, .nav__shared--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.hero {
  position: relative;
}

.hero__img {
  margin: auto;
  width: 100%;
}

.hero__content {
  position: relative;
}
@media screen and (min-width: 42.5rem) {
  .hero__content {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 73%;
  }
}
@media screen and (min-width: 67.5rem) {
  .hero__content {
    width: 40%;
    left: -1px;
  }
}

.hero__content__title {
  color: #33323e;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.36px;
  line-height: 1.1;
}
@media screen and (min-width: 42.5rem) {
  .hero__content__title {
    padding-right: 2.5rem;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .hero__content__title {
    font-size: 3.125rem;
  }
}

.about__me {
  padding-top: 4.9rem;
}
@media screen and (min-width: 42.5rem) {
  .about__me {
    display: flex;
    padding-top: 6rem;
  }
}

.about__img {
  width: 100%;
  margin: auto;
}

.about__img__container {
  flex: 1 1 40%;
}

.about__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 1 1 60%;
}
@media screen and (min-width: 42.5rem) {
  .about__content {
    display: flex;
    justify-content: flex-end;
  }
}

.about__content__title {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color: #33323e;
}

.about__content__holder {
  position: relative;
  padding-bottom: 3rem;
}
.about__content__holder::before, .about__content__holder::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #979797;
  left: 0;
}
.about__content__holder::before {
  top: 0;
}
.about__content__holder::after {
  bottom: 0;
}
@media screen and (min-width: 42.5rem) {
  .about__content__holder {
    display: flex;
    flex-direction: column;
    width: 82%;
    padding-top: 2.5rem;
  }
}

.about__content__content {
  font-size: 1rem;
  color: #33323e;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.92;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 42.5rem) {
  .header {
    padding: 4.5rem 2.5rem 2rem;
    align-items: flex-start;
  }
}
@media screen and (min-width: 67.5rem) {
  .header {
    padding: 4.5rem 10.3125rem 2rem;
  }
}

.hide__btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.modal__container {
  position: absolute;
  top: 5.5rem;
  right: 3rem;
  z-index: 1;
  padding: 2rem;
  width: 60%;
  background-color: #33323e;
}
@media screen and (min-width: 42.5rem) {
  .modal__container {
    background-color: #ffffff;
    position: relative;
    top: 0;
    right: 0;
    padding-top: 0;
    padding-left: 0;
    flex-direction: row;
    width: 100%;
  }
}

.nav__list__item {
  margin-bottom: 1rem;
  text-align: center;
}
@media screen and (min-width: 42.5rem) {
  .nav__list__item {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.hide__modal {
  display: none;
}
@media screen and (min-width: 42.5rem) {
  .hide__modal {
    display: flex;
  }
}

.show__menu,
.close__menu {
  background: none;
  border: none;
}
.show__menu:hover, .show__menu:focus,
.close__menu:hover,
.close__menu:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

@media screen and (min-width: 42.5rem) {
  .menu__control {
    display: none;
  }
}

@media screen and (min-width: 42.5rem) {
  .nav {
    flex: 1 1 40%;
  }
}

@media screen and (min-width: 42.5rem) {
  .logo__container {
    flex: 1 1 60%;
  }
}

@media screen and (min-width: 42.5rem) {
  .nav__list__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav--item {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav--item:hover, .nav--item:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}
@media screen and (min-width: 42.5rem) {
  .nav--item {
    color: #33323e;
  }
}

.main {
  padding: 0.5rem 2rem;
  margin: auto;
}
@media screen and (min-width: 42.5rem) {
  .main {
    padding: 0.5rem 2.5rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .main {
    padding: 0.5rem 10.3125rem;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
}
@media screen and (min-width: 42.5rem) {
  .aside {
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
  }
}

.aside__title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 900;
  line-height: 1.1;
  color: #33323e;
  margin-bottom: 2rem;
}
@media screen and (min-width: 42.5rem) {
  .aside__title {
    flex: 1 1 60%;
    margin-bottom: 0;
    text-align: left;
  }
}
@media screen and (min-width: 67.5rem) {
  .aside__title {
    flex: 1 1 40%;
  }
}

@media screen and (min-width: 42.5rem) {
  .aside__divider {
    flex: 1 1 20%;
    height: 1px;
    background-color: #33323e;
  }
}
@media screen and (min-width: 67.5rem) {
  .aside__divider {
    flex: 1 1 50%;
  }
}

.footer {
  background-color: #33323e;
  margin-top: 0.5rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
@media screen and (min-width: 42.5rem) {
  .footer__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 2rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .footer__container {
    max-width: 69.375rem;
    margin: auto;
  }
}

.footer__logo,
.social__icons {
  filter: brightness(0%) invert(100%);
}

.footer__nav--btn {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__nav--btn:hover, .footer__nav--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

@media screen and (min-width: 42.5rem) {
  .footer__nav__list__items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
}

.footer__nav__list__item {
  text-align: center;
}
.footer__nav__list__item:not(:last-child) {
  margin-bottom: 1.4rem;
}
@media screen and (min-width: 42.5rem) {
  .footer__nav__list__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.social__list__items {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

@media screen and (min-width: 42.5rem) {
  .footer__logo__container {
    flex: 1 1 10%;
  }
}

@media screen and (min-width: 42.5rem) {
  .footer__nav {
    flex: 1 1 70%;
  }
}

@media screen and (min-width: 42.5rem) {
  .social__list {
    flex: 1 1 20%;
  }
}

.social__link--btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link--btn:hover, .social__link--btn:focus {
  cursor: pointer;
  outline: dashed #ffffff;
  outline-offset: 0.25em;
}

.project__title {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color: #33323e;
}

.project__content {
  font-size: 1rem;
  color: #33323e;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.92;
}

.projects__lists {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 42.5rem) {
  .projects__lists {
    margin-top: 3rem;
    gap: 3.5rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .projects__lists {
    gap: 5.5rem;
  }
}

.project__list__item {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
@media screen and (min-width: 42.5rem) {
  .project__list__item {
    flex-direction: row;
    align-items: stretch;
  }
  .project__list__item:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 42.5rem) {
  .project__details {
    flex: 1 1 50%;
  }
}

.project__details__content {
  padding-bottom: 2rem;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  height: 100%;
  max-width: 350px;
  margin: auto;
}

@media screen and (min-width: 42.5rem) {
  .project__img__container {
    flex: 1 1 50%;
  }
}

.details__content {
  margin-top: 2.5rem;
}
@media screen and (min-width: 67.5rem) {
  .details__content {
    display: flex;
    gap: 2rem;
  }
}

.details__content__title {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color: #33323e;
}

.details__content__content,
.details__more__content {
  font-size: 1rem;
  color: #33323e;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.92;
  margin-bottom: 1rem;
}

.details__techs__summary {
  display: flex;
  flex-direction: row;
  font-size: 0.8125rem;
  color: #5fb4a2;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.details__techs__summary li + li {
  position: relative;
  border-left: 1px solid #5fb4a2;
  padding-left: 0.5rem;
}

.details__techs__tools {
  margin-bottom: 1.5rem;
}

.details__more {
  margin-top: 3rem;
}
@media screen and (min-width: 67.5rem) {
  .details__more {
    flex: 1 1 65%;
  }
}

.details__more--title,
.details__preview__title {
  color: #33323e;
  font-size: 2rem;
  font-weight: 500;
}

.details__preview__img__container {
  margin-bottom: 3rem;
}

.details__preview__title {
  margin-bottom: 2rem;
}

.details__content__sub {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 67.5rem) {
  .details__content__sub {
    flex: 1 1 35%;
  }
}

.project__nav {
  display: flex;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

.previous__project,
.next__project {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 0.5rem;
}
@media screen and (min-width: 42.5rem) {
  .previous__project,
.next__project {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

.previous--btn {
  align-self: flex-start;
}
@media screen and (min-width: 42.5rem) {
  .previous--btn {
    align-self: center;
  }
}

.previous__project {
  border-right: 1px solid #979797;
}

.next__project {
  align-items: flex-end;
}
@media screen and (min-width: 42.5rem) {
  .next__project {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.project__nav__title {
  font-size: 2rem;
  font-weight: 500;
  color: #33323e;
  opacity: 0.8;
}

.project__nav__content {
  color: #33323e;
  opacity: 0.6;
}

.project__contents__right {
  text-align: right;
}

.project__nav__img {
  transform: scale(1.2);
}

.next__project--btn:hover, .next__project--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.contact__content {
  font-size: 1rem;
  color: #33323e;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.92;
}

.contact__social__container {
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 67.5rem) {
  .contact__social__container {
    display: flex;
    align-items: baseline;
  }
}

.contact__heading {
  font-size: 2.5rem;
  color: #33323e;
}
@media screen and (min-width: 67.5rem) {
  .contact__heading {
    flex: 1 1 40%;
  }
}

@media screen and (min-width: 67.5rem) {
  .contact__social__divider {
    flex: 1 1 60%;
  }
}

.form__heading {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color: #33323e;
}
@media screen and (min-width: 67.5rem) {
  .form__heading {
    flex: 1 1 40%;
  }
}

@media screen and (min-width: 67.5rem) {
  .form__input__container {
    flex: 1 1 60%;
  }
}

.social__contact__list {
  width: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.label {
  font-size: 0.8125rem;
  font-weight: 800;
  color: #33323e;
  margin-bottom: 1rem;
}

.inputs {
  font-size: 0.8125rem;
  background-color: #d7d7d7;
  padding: 1rem 0.5rem;
  border: 1px solid transparent;
}
.inputs:hover, .inputs:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.textarea {
  font-size: 0.8125rem;
  background-color: #d7d7d7;
  padding: 1rem 0.5rem;
  border: 1px solid transparent;
  resize: none;
}
.textarea:hover, .textarea:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.error__alert {
  color: #f42f2f;
  margin-top: 0.5rem;
}

.btnSend {
  background-color: #20394c;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 0.9rem 3.5rem;
  font-size: 0.75rem;
  font-family: "Public Sans", sans-serif;
}
.btnSend:hover, .btnSend:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}
.btnSend:hover, .btnSend:focus {
  outline: dashed #20394c;
}

.form {
  margin-bottom: 3rem;
}
@media screen and (min-width: 67.5rem) {
  .form {
    display: flex;
    align-items: baseline;
  }
}

.contact__social__link--btn:hover, .contact__social__link--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}
.contact__social__link--btn:hover, .contact__social__link--btn:focus {
  outline: dashed #20394c;
}

.form__contact__section {
  position: relative;
}

.display__success {
  position: absolute;
}

h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
}

body {
  font-family: "Public Sans", sans-serif;
}
