/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.btn {
  background: #20394c;
  display: flex;
  max-width: 12.5rem;
  text-decoration: none;
}

.arrows__img__holder {
  flex: 1 1 30%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows__img {
  padding: 1rem;
}

span.btn__text {
  flex: 1 1 70%;
  align-self: center;
  text-align: center;
  color: white;
  text-decoration: none;
}

.nav__shared--btn {
  display: inline-block;
  border: 1px solid #33323e;
  color: #33323e;
  max-width: 12.625rem;
  padding: 0.7rem 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-align: center;
}

.hero {
  position: relative;
}

.hero__img {
  margin: auto;
  width: 100%;
}

.hero__content {
  position: relative;
}
@media screen and (min-width: 42.5rem) {
  .hero__content {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 73%;
  }
}
@media screen and (min-width: 67.5rem) {
  .hero__content {
    width: 40%;
    left: -1px;
  }
}

.hero__content__title {
  color: #33323e;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.36px;
  line-height: 1.1;
}
@media screen and (min-width: 42.5rem) {
  .hero__content__title {
    padding-right: 2.5rem;
    padding-top: 2rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .hero__content__title {
    font-size: 3.125rem;
  }
}

.about__me {
  padding-top: 4.9rem;
}
@media screen and (min-width: 42.5rem) {
  .about__me {
    display: flex;
    padding-top: 6rem;
  }
}

.about__img {
  width: 100%;
  margin: auto;
}

.about__img__container {
  flex: 1 1 40%;
}

.about__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex: 1 1 60%;
}
@media screen and (min-width: 42.5rem) {
  .about__content {
    display: flex;
    justify-content: flex-end;
  }
}

.about__content__title {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  color: #33323e;
}

.about__content__holder {
  position: relative;
  padding-bottom: 3rem;
}
.about__content__holder::before, .about__content__holder::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #979797;
  left: 0;
}
.about__content__holder::before {
  top: 0;
}
.about__content__holder::after {
  bottom: 0;
}
@media screen and (min-width: 42.5rem) {
  .about__content__holder {
    display: flex;
    flex-direction: column;
    width: 82%;
    padding-top: 2.5rem;
  }
}

.about__content__content {
  font-size: 1rem;
  color: #33323e;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.92;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 42.5rem) {
  .header {
    padding: 4.5rem 2.5rem 2rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .header {
    padding: 4.5rem 10.3125rem 2rem;
  }
}

.hide__btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.modal__container {
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 1;
  padding-top: 4rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: space-between;
}
@media screen and (min-width: 42.5rem) {
  .modal__container {
    position: relative;
    top: 0;
    padding-top: 0;
    padding-left: 0;
    flex-direction: row;
  }
}

.hide__modal {
  display: none;
}
@media screen and (min-width: 42.5rem) {
  .hide__modal {
    display: flex;
  }
}

.show__menu,
.close__menu {
  background: none;
  border: none;
}

@media screen and (min-width: 42.5rem) {
  .menu__control {
    display: none;
  }
}

@media screen and (min-width: 42.5rem) {
  .nav {
    flex: 1 1 40%;
  }
}

@media screen and (min-width: 42.5rem) {
  .logo__container {
    flex: 1 1 60%;
  }
}

@media screen and (min-width: 42.5rem) {
  .nav__list__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav--item {
  text-decoration: none;
  color: #33323e;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main {
  padding: 0.5rem 2rem;
  margin: auto;
}
@media screen and (min-width: 42.5rem) {
  .main {
    padding: 0.5rem 2.5rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .main {
    padding: 0.5rem 10.3125rem;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
}

.aside__title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 900;
  line-height: 1.1;
  color: #33323e;
  margin-bottom: 2rem;
}

.footer {
  background-color: #33323e;
  margin-top: 0.5rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.2rem;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.footer__logo,
.social__icons {
  filter: brightness(0%) invert(100%);
}

.footer__nav--item {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__nav__list__item {
  text-align: center;
}
.footer__nav__list__item:not(:last-child) {
  margin-bottom: 1.4rem;
}

.social__list__items {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

h1,
h2,
h3 {
  font-family: "Ibarra Real Nova", serif;
}

body {
  font-family: "Public Sans", sans-serif;
}
