@use '../Utils';

.about__me {
    padding-top: 4.9rem;

    @media screen and (min-width: 42.5rem) {
        display: flex;
        padding-top: 6rem;
    }
}

.about__img {
    width: 100%;
    margin: auto;
}

.about__img__container {
    flex: 1 1 40%;
}

.about__content {
    flex: 1 1 60%;

    @media screen and (min-width: 42.5rem) {
        display: flex;
        justify-content: flex-end;
    }
}

.about__content__title {
    font-size: 2.5rem;
    color: Utils.$grayish-dark-blue;
}

.about__content__holder {
    @media screen and (min-width: 42.5rem) {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 82%;
        padding-top: 2.5rem;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: Utils.$grayish-dark-blue;
            left: 0;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}

.about__content__content {
    font-size: 1rem;
    color: Utils.$grayish-dark-blue;
    margin-top: 1rem;
    line-height: 1.92;
}