@use '../Utils';

.btn {
    background: Utils.$dark-blue;
    display: flex;
    max-width: 12.5rem;
    text-decoration: none;
}

.arrows__img__holder {
    flex: 1 1 30%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows__img {
    padding: 1rem;
}

span.btn__text {
    flex: 1 1 70%;
    align-self: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

.nav__shared--btn {
    display: inline-block;   
    border: 1px solid Utils.$grayish-dark-blue;
    color: Utils.$grayish-dark-blue;
    max-width: 12.625rem;
    padding: 0.7rem 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: Utils.calculateRem(12);
    letter-spacing: 2px;
    text-align: center;
}