@use '../Utils';

.btn {
    background: Utils.$dark-blue;
    display: flex;
    max-width: 12.5rem;
    text-decoration: none;
}

.arrows__img__holder {
    flex: 1 1 30%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows__img {
    padding: 1rem;
}

span.btn__text {
    flex: 1 1 70%;
    align-self: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

.nav__shared--btn {
    display: inline-block;
    padding: .5rem 1rem;
    border: 1px solid Utils.$grayish-dark-blue;
    color: Utils.$grayish-dark-blue;
    padding: 0.6rem 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: Utils.calculateRem(12);
}