@use '../Utils';

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;

    @include Utils.mQ(42.5rem) {
        flex-direction: row;
        justify-content: space-around;       
        gap: 2rem;
    }

    @include Utils.mQ(67.5rem) {
        padding: 5rem 10.3125rem;
    }
}

.aside__title {
    font-size: Utils.calculateRem(40);
    text-align: center;
    font-weight: 900;
    line-height: 1.1;
    color: Utils.$grayish-dark-blue;
    margin-bottom: 2rem;

    @include Utils.mQ(42.5rem) {
        flex: 1 1 60%;
        margin-bottom: 0;
        text-align: left;
    }

    @include Utils.mQ(67.5rem) {
        flex: 1 1 40%;
    }
}

.aside__divider {
    @include Utils.mQ(42.5rem) {
        flex: 1 1 20%;
        height: 1px;
        background-color: Utils.$grayish-dark-blue;
    }

    @include Utils.mQ(67.5rem) {
        flex: 1 1 50%;
    }
}