@use '../Utils';

.footer {
    background-color: Utils.$grayish-dark-blue;
    margin-top: .5rem;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;

    @include Utils.mQ(42.5rem) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 3.5rem 2rem;
    }

    @include Utils.mQ(67.5rem) {
        max-width: 69.375rem;
        margin: auto;
    }
}

.footer__logo,
.footer__social__icons {
    filter: brightness(0%) invert(100%);
}

.footer__nav--btn {
    color: Utils.$white;
    text-decoration: none;
    text-transform: uppercase;
    @include Utils.hoverFocus;
}

.footer__nav__list__items {
    @include Utils.mQ(42.5rem) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }
}

.footer__nav__list__item {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 1.4rem;
    }

    @include Utils.mQ(42.5rem) {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.social__list__items {
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.footer__logo__container {
    @include Utils.mQ(42.5rem) {
        flex: 1 1 10%;
    }
}

.footer__nav {
    @include Utils.mQ(42.5rem) {
        flex: 1 1 70%;
    }
}

.social__list {
    @include Utils.mQ(42.5rem) {
        flex: 1 1 20%;
    }
}


.social__link--btn {
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        cursor: pointer;
        outline: dashed Utils.$white;
        outline-offset: 0.25em;
    }
}