@use 'sass:math';
@use '../Utils';

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include Utils.mQ(42.5rem) {
    padding: 4.5rem 2.5rem 2rem;
    align-items: flex-start;

  }

  @include Utils.mQ(67.5rem) {
    padding: 4.5rem 10.3125rem 2rem;
  }
}

.hide__btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.modal__container {
  position: absolute;
  top: 5.5rem;
  right: 3rem;
  z-index: 1;
  padding: 2rem;
  width: 60%;
  background-color: Utils.$grayish-dark-blue;


  @include Utils.mQ(42.5rem) {
    background-color: inherit;
    position: relative;
    top: 0;
    right: 0;
    padding-top: 0;
    padding-left: 0;
    flex-direction: row;
    width: 100%;
  }
}

.nav__list__item {
  margin-bottom: 1rem;
  text-align: center;

  @include Utils.mQ(42.5rem) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}

.hide__modal {
  display: none;

  @include Utils.mQ(42.5rem) {
    display: flex;
  }
}

.show__menu,
.close__menu {
  background: none;
  border: none;
  @include Utils.hoverFocus;
}

.menu__control {
  @include Utils.mQ(42.5rem) {
    display: none;
  }
}

.nav {
  @include Utils.mQ(42.5rem) {
    flex: 1 1 40%;
  }
}

.logo__container {
  @include Utils.mQ(42.5rem) {
    flex: 1 1 60%;
  }
}

.nav__list__items {
  @include Utils.mQ(42.5rem) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.nav__item--btn {
  text-decoration: none;
  color: Utils.$white;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;

  @include Utils.hoverFocus;

  @include Utils.mQ(42.5rem) {
    color: Utils.$grayish-dark-blue;
  }
}

.logo__item--btn {
  color: Utils.$grayish-dark-blue;
}